<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="latuc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <latuc.Properties.Settings>
            <setting name="idUser" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="userLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="userEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="userPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="idStatistic" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="idAchievments" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Role" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="exitBool" serializeAs="String">
                <value>0</value>
            </setting>
        </latuc.Properties.Settings>
    </userSettings>
</configuration>